<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title><%= pagetitle %></title>
        
        <link rel="stylesheet" type="text/css" href="/styles.css" />
		<%- head %>	
    </head>
    <body>
    	<h1> <a href="/"><%= sitetitle %></a> <%if (pagetitle) {%> - <%=pagetitle %><%}%></h1>
		<div id="mainbox">
			
			<%- body %>
		</div>
		
    </body>
</html>
